

body {
  font-family: sans-serif;
  margin: auto;
  width: 80%;
  border: 2px solid #5f89ad;
  padding: 20px;
}

header,
main {
  max-width: 960px;
	margin: 0 auto;
}
body {
            font-family: "Arial", sans-serif;
        }

        .bar {
            fill: #5f89ad;
        }

        .axis {
            font-size: 13px;
        }

        .axis path,
        .axis line {
            fill: none;
            display: none;
        }

        .label {
            font-size: 13px;
        }

/* linechart */



circle {
  fill: rgba(204,60,45,0.8);
  stroke: rgb(204,60,45);
  stroke-width: 2px;
}

text {
  font-family: sans-serif;
  font-size: 15px;
}

.data-line {
  fill: none;
  stroke: rgb(85,174,243);
  stroke-width: 4px;
}



.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background: pink;
  border-radius: 10px;
  display: block;
}

.tooltip.hidden {
  display: none;
}

rect{
  fill:rgba(85,174,243,0.8);

}
